<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeMix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TimeMix.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TimeMix.Properties.Settings>
            <setting name="NetTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetName" serializeAs="String">
                <value>timeMix</value>
            </setting>
            <setting name="NetPath" serializeAs="String">
                <value>\\CLASSV\FolderShare</value>
            </setting>
        </TimeMix.Properties.Settings>
        <TimeMix.Settings>
            <setting name="nameClass" serializeAs="String">
                <value />
            </setting>
            <setting name="nameTime" serializeAs="String">
                <value />
            </setting>
            <setting name="dpi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="deltaTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isTomorrowClass" serializeAs="String">
                <value>False</value>
            </setting>
        </TimeMix.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>